@import 'styles/vars.scss';

.days-list {
  position: relative;
  display: flex;
  overflow: auto;

  &__day {
    box-sizing: border-box;
    padding: 10px 20px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include variably(font-size, 16px, 13px);


    border: 1px solid grey;
    border-right: none;

    &:first-child {
      border-left: none;
    }
  }

  &__circle {
    position: absolute;
    top: 0;

    width: 15px;
    height: 15px;
    border-radius: 100%;

    background-color: blue;
    animation: pulse 2s infinite;
  }

  &__timeline {
    position: absolute;
    top: 0;

    width: 2px;
    height: 100%;

    background-color: blue;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(0, 0, 255, 0.774);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 255, 0);
  }

  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(0, 0, 255, 0);
  }
}