.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar { display: none }

.mini-description {
  font-size: 12px;
  font-weight: normal;
  color: $color-grey-text;
}

.line-ellipsis--1 {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-ellipsis--2 {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-ellipsis--3 {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.tac {
  text-align: center;
}

.df {
  display: flex;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}