@font-face {
    font-family: 'Rubik-Regular';
    src: url('./Rubik/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url('./Rubik/Rubik-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url('./Rubik/Rubik-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}