@import 'styles/vars.scss';

.reservation {
  display: grid;
  grid-template-columns: 2fr 8fr;

  border-bottom: 1px solid $color-grey-dark;

  &__name {
    @include variably(padding, 13px, 3px);
    @include variably(font-size, 16px, 13px);
    @include flex-display();

    height: 38px;
    overflow: hidden;
    border-right: 1px solid $color-grey-dark;
  }

  &__list-container {
    width: 100%;
    display: flex;
    overflow: auto;

    // scroll-behavior: smooth;

    &_inner {
      position: relative;
      min-width: calc(161px * 24);
      display: flex;
    }
  }
}